Practica3Seguridad/src/main/resources/EstimacionesTUSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/4.0.0-M3 (RELEASE-4.0.0-M3-eca3caa; 2022-02-24T09:46:27+0000) JAXWS-RI/4.0.0-M3 JAXWS-API/4.0.0 JAXB-RI/4.0.0-M3 JAXB-API/4.0.0 git-revision#eca3caa. -->
<definitions targetNamespace="http://www.unican.es/ss/SSEstimacionesTUS" name="EstimacionesTUSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://www.unican.es/ss/SSEstimacionesTUS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

  <types>
    <xs:schema version="1.0" targetNamespace="http://www.unican.es/ss/SSEstimacionesTUS" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="proximosAutobuses" type="tns:proximosAutobuses"/>

      <xs:element name="proximosAutobusesResponse" type="tns:proximosAutobusesResponse"/>

      <xs:complexType name="proximosAutobuses">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
          <xs:element name="arg1" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="proximosAutobusesResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="proximosAutobuses">
    <part name="parameters" element="tns:proximosAutobuses"/>
  </message>
  <message name="proximosAutobusesResponse">
    <part name="parameters" element="tns:proximosAutobusesResponse"/>
  </message>
  <portType name="IEstimacionesTUS">
    <operation name="proximosAutobuses">
      <input wsam:Action="http://www.unican.es/ss/SSEstimacionesTUS/IEstimacionesTUS/proximosAutobusesRequest" message="tns:proximosAutobuses"/>
      <output wsam:Action="http://www.unican.es/ss/SSEstimacionesTUS/IEstimacionesTUS/proximosAutobusesResponse" message="tns:proximosAutobusesResponse"/>
    </operation>
  </portType>
  <binding name="EstimacionesTUSPortBinding" type="tns:IEstimacionesTUS">
    <soapenv:Header>
      <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" soapenv:mustUnderstand="1">
        <wsse:UsernameToken xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
          <wsse:Username>username</wsse:Username>
          <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">password</wsse:Password>
        </wsse:UsernameToken>
      </wsse:Security>
    </soapenv:Header>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="proximosAutobuses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EstimacionesTUSService">
    <port name="EstimacionesTUSPort" binding="tns:EstimacionesTUSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

